<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>REGISTRO</title>


	<!-- Bootstrap core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link th:href="@{/css/heroic-features.css}" rel="stylesheet">
	<link th:href="@{/css/registro.css}" rel="stylesheet">

</head>

<body>
	<div class="contenedor">
		<!-- Navigation -->
		<div class="container">
			<a th:href="@{/index}"><img class="img" src="/images/logo.webp" width="150px" height="50px"></a>

		</div>

		<!-- Page Content -->

		<div class="container">

			<form class="form" th:action="@{/usuario/save}" method="post" id="form">
				<h5 class="titu">FORMULARIO DE REGISTRO</h5>
				<div class="form-group">
					<label for="nombres">Nombre:</label> <input type="text" class="form-control" id="nombre"
						name="nombre" placeholder="Ingrese su nombre" autocomplete="off">
				</div>

				<div class="form-group">
					<label for="email">Correo:</label> <input type="email" class="form-control" id="email" name="email"
						placeholder="Ingrese su correo" autocomplete="off">
				</div>

				<div class="form-group">
					<label for="direccion">Dirección:</label> <input type="text" class="form-control" id="direccion"
						name="direccion" placeholder="Ingrese su dirección" autocomplete="off">
				</div>

				<div class="form-group">
					<label for="pwd">Contraseña</label> <input type="password" class="form-control" id="password"
						name="password" placeholder="Ingrese su contraseña" autocomplete="off">
				</div>
				<div class="btn">
					<button type="submit" class="btn">Registrarse</button>
				</div>
				<p class="warnings" id="warnings"></p>
			</form>

		</div>
	</div>
	<br>
	<!-- /.container -->

	<!-- Footer -->

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/validaciones.js}"></script>
	<style>
		.warnings {
			width: 200px;
			text-align: center;
			margin: auto;
			color: rgb(255 127 0);
			padding-top: 20px;
		}
	</style>
</body>

</html>