<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>HOME</title>


	<!-- Bootstrap core CSS -->
	<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link th:href="@{css/heroic-features.css}" rel="stylesheet">



</head>

<body>

	<!-- Navigation -->
	<div th:fragment="header">
	
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> +57 313-87-30-570</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i> sonyconsolas@gmail.com</a></li>
					<li><a
							href="https://www.google.com/maps/place/Cl.+2a+%2335,+Bogot%C3%A1/@4.6244517,-74.1425714,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9ea6c7460797:0x1e2083ad9fb73a01!8m2!3d4.6244464!4d-74.1403827?hl=es"><i
								class="fa fa-map-marker"></i> Cra 2 a #35-11 kennedy </a></li>
				</ul>
				<ul class="header-links pull-right">
					<li><a th:href="@{/usuario/registro}"><i class="fa fa-user-o"></i> Registrarse</a></li>
					<li><a th:href="@{/usuario/login}"><i class="fa fa-user-o"></i> Iniciar Sesion</a></li>
				</ul>
			</div>
		</div>
	</div>




	<!-- Navigation -->
	<div th:fragment="header-user">
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> +57 313-87-30-570</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i> sonyconsolas@gmail.com</a></li>
					<li><a
							href="https://www.google.com/maps/place/Cl.+2a+%2335,+Bogot%C3%A1/@4.6244517,-74.1425714,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9ea6c7460797:0x1e2083ad9fb73a01!8m2!3d4.6244464!4d-74.1403827?hl=es"><i
								class="fa fa-map-marker"></i> Cra 2 a #35-11 kennedy </a></li>
				</ul>
				<ul class="header-links pull-right">
					<li><a href="#"><i class="fa fa-user"></i> Bienvenido USER</a></li>
					<li><a th:href="@{/usuario/compras}"><i class="fa fa-shopping-cart"></i> Compras</a></li>
					<li><a th:href="@{/usuario/cerrar}"><i class="fa fa-close"></i> Salir</a></li>

				</ul>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<div th:fragment="footer">
		<footer class="py-5" style="background-color: #9f9a96;">
			<div class="container">
				<p class="m-0 text-center text-white">Copyright &copy; Sony Consolas 2021</p>
			</div>
			<!-- /.container -->
		</footer>
	</div>
	<!-- Bootstrap core JavaScript -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	

</body>

</html>