<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">





</head>

<body>

    <!-- Navigation -->
    <div class="container-fluid">
        <div class="row justify-content-center align-content-center">
            <div class="col-8 barra">
                <a th:href="@{/administrador}">
                    <h4 class="text-light"> <img src="/images/logo.webp" width="200px"></h4>
                </a>
            </div>
            <div class="col-4 text-right barra">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a href="#" class="px-3 text-light perfil dropdown-toggle" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="fas fa-user-circle user"></i></a>
                        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
                            <a class="dropdown-item menuperfil cerrar" th:href="@{/usuario/cerrar}"><i
                                    class="fas fa-sign-out-alt m-1"></i>Salir
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="barra-lateral col-12 col-sm-auto">
                <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                    <a th:href="@{/productos}"><i class="fa-solid fa-cart-shopping"></i><span>PRODUCTOS</span></a>
                    <a th:href="@{/administrador/usuarios}"><i
                            class="fa-sharp fa-solid fa-users"></i><span>USUARIOS</span></a>
                    <a th:href="@{/administrador/ventas}"><i
                            class="fa-sharp fa-solid fa-basket-shopping"></i></i><span>VENTAS</span></a>
                </nav>
            </div>
        </div>
    </div>

    <div class="BUENOS">
        <h1>BUENOS DIAS ADMIN!</h1> <h5>Haz iniciado sesion como administrador</h5>

    </div>
    <hr>
    <div class="escr">
        <h6>- Version 1.1</h6>
        <h6>- DV with JAVA</h6>
        <h6>- For SOY CONSOLAS</h6>
        <h6>- SISC administrative panel</h6>
        <h6>- Has customer record</h6>
        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiugK6yzpf7AhXATTABHfqqC3AQFnoECAoQAQ&url=https%3A%2F%2Fwww.sena.edu.co%2F&usg=AOvVaw2C-WoMIqpKoRb8GZT6Td5q" class="btn btn-success" style="position:relative; top: 6px; bottom:10px ;">Mas Sobre Nosotros</a>

    </div>

   

    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="https://kit.fontawesome.com/ce39a87d8e.js" crossorigin="anonymous"></script>
</body>

</html>