<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>USUARIOS</title>


 <!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/estilousu.css}">


</head>

<body>

  <!-- Navigation -->
  <section id="menu">
		<div class="logo">
      <a th:href="@{/administrador}"><img  src="/images/logo.webp" alt=""></a>
		</div>


		<div class="items">
			<li><i class="fa-solid fa-cart-shopping"></i><a th:href="@{/productos}">PRODUCTOS</a></li>
			<li><i class="fa-sharp fa-solid fa-users"></i><a th:href="@{/administrador/usuarios}">USUARIOS</a></li>
			<li><i class="fa-solid fa-cash-register"></i><a th:href="@{/administrador/ventas}">VENTAS</a></li>
			<li><i class="fa-solid fa-right-from-bracket"></i><a th:href="@{/usuario/cerrar}">SALIR</a></li>

		</div>
	</section>
	<section id="interface">
		<div class="navigation">
			<div class="search">
				<i class="fa-solid fa-magnifying-glass"></i>
				<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="nombre"
					autocomplete="off">
			</div>
		</div>
		<div class="admin">
			<h1>ADMIN</h1>
		</div>
		<div class="user">
			<i class="fa-sharp fa-solid fa-user"></i>
		</div>
	</section>

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <center><h1 class="mt-4 mb-3">
    USUARIOS EN EL SISTEMA
   </h1></center>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/administrador}">Inicio</a></li>
    <li class="breadcrumb-item active">Ver Usuarios</li>
  </ol>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Dirección</th>
        <th scope="col">Tipo de Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="usuario:${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.direccion}"></td>
        <td th:text="${usuario.tipo}"></td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->



	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script src="https://kit.fontawesome.com/ce8c3d092d.js" crossorigin="anonymous"></script>

</body>

</html>
