<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>USUARIOS</title>


 <!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/estilousu.css}">


</head>

<body>

  <!-- Navigation -->
  <div class="container-fluid">
    <div class="row justify-content-center align-content-center">
        <div class="col-8 barra">
            <a th:href="@{/administrador}"><h4 class="text-light"> <img src="/images/logo.webp" width="200px"></h4></a>
        </div>
        <div class="col-4 text-right barra">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a href="#" class="px-3 text-light perfil dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle user"></i></a>
                    <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
                        <a class="dropdown-item menuperfil cerrar" th:href="@{/usuario/cerrar}"><i class="fas fa-sign-out-alt m-1"></i>Salir
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="barra-lateral col-12 col-sm-auto">
            <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                <a th:href="@{/productos}"><i class="fa-solid fa-cart-shopping"></i><span>PRODUCTOS</span></a>
                <a th:href="@{/administrador/usuarios}"><i class="fa-sharp fa-solid fa-users"></i><span>USUARIOS</span></a>
                <a th:href="@{/administrador/ventas}"><i class="fa-sharp fa-solid fa-basket-shopping"></i></i><span>VENTAS</span></a>
            </nav>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <center><h1 class="mt-4 mb-3">
    USUARIOS EN EL SISTEMA
   </h1></center>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/administrador}">Inicio</a></li>
    <li class="breadcrumb-item active">Ver Usuarios</li>
  </ol>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Dirección</th>
        <th scope="col">Tipo de Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="usuario:${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.direccion}"></td>
        <td th:text="${usuario.tipo}"></td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->



	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script src="https://kit.fontawesome.com/ce8c3d092d.js" crossorigin="anonymous"></script>

</body>

</html>
