body {

    background: #cfc9bb;
}

.barra {
    background: rgb(161, 159, 159);
    border-bottom: 4px solid rgb(255, 136, 0);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    
}

.dropdown-menu {
    margin: 17px;
    background: #505050;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.menuperfil {
    color: #ffffff;
}

.menuperfil:focus {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.568);
}

.cerrar:hover {
    background-color: rgb(255, 136, 0);
    color: #fff;
}

.user {
    font-size: 35px;
    margin-top: 20px;
}
.container {
    margin-top: -960px;
    margin-left: 25%;
    width: 5000px;
    text-align: center;
}

/*BARRA LATERAL*/

.barra-lateral {
    background: #505050;
    color: rgb(255, 255, 255);
    min-width: 250px;
    min-height: 100vh;
    padding: 0;
}

.barra-lateral a {
    color: rgb(255, 255, 255);
}


/*ESTILOS MENU*/

.barra-lateral .menu a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.barra-lateral .menu a:hover {
    background-color: rgb(255, 136, 0);
    text-decoration: none;
}



.barra-lateral .menu a i {
    margin-right: 20px;
}


/*MAIN*/

.main {
    padding-top: 40px;
}

.main .columna {
    padding-left: 40px;
    padding-right: 40px;
}


/*mediaquerys*/

@media screen and (max-width:1300px) {
    .barra-lateral {
        min-width: auto;
    }
    .barra-lateral .menu a span {
        display: none;
    }
    .barra-lateral .menu a i {
        margin: 0;
    }
    .barra {
        min-width: auto;
    }
    .dropdown-menu {
        margin: 20px -79px 0px;
    }
}

@media screen and (max-width:575px) {
    .barra-lateral {
        min-height: auto;
    }
    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }
    .dropdown-menu {
        margin: 20px -78px 0px;
    }
    .logocppe {
        width: 100%;
    }
    body {
        background: #D3D3D3;
        font-size: 16px;
        overflow: visible;
    }
}

.formulariorecursos {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    padding: 20px;
}

@media screen and (max-width:575px) {
    .barra-lateral {
        height: auto;
    }
    .barra-lateral.menu a {
        display: inline-block;
        border-bottom: none;
    }
    .dropdown-menu {
        margin: 20px -78 0px;
    }
    body {
        font-size: 16px;
        overflow: visible;
    }
}

@media screen and (max-width:1466px) {
   
    .container{
        margin-top: -580px;
        margin-left: 150px;
        width: 1000px;
    }
}

